.users-container {
  margin: 10px auto;
}

.user {
  border-radius: 8px;
  padding: 10px 30px;
  border: 1px dashed #44403b;
  background-color: #292524;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 25px;
  margin-bottom: 10px;
  width: 60vw;
}

@media (max-width: 768px) {
  .user {
    width: 90vw;
  }
}

.input {
  box-sizing: border-box;
}
